<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/rate.css">
    <script src="js/rate.js"></script>
</head>

<body>
    <header>
        <h1>Movie Rating</h1>
    </header>

    <main>
        <form action="rate_movie.php" method="post" onsubmit="return validateReview()">
            <div class="rating-container">
                <label for="rating">Rate the movie:</label>
                  <select id="rating" name="rating">
                    <option selected disabled>Select a rating</option>
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="review-container">
                <label for="review">Write a review:</label>
                <textarea id="review" name="review" rows="4" cols="50" placeholder="Enter your review" required></textarea>
            </div>
            <button type="submit" name="submit">Submit</button>
        </form>
    </main>
</body>

</html>
